<nav class="">
    <a href="{{ path('index') }}" class="{{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}">Inicio</a>
    <a href="{{ path('empresa') }}" class="{{ (app.request.attributes.get('_route') == 'empresa')  ? 'active': ''}}">Empresa</a>
    <a href="{{ path('product') }}" class="{{ (app.request.attributes.get('_route') == 'product')  ? 'active': ''}}">Productos</a>
    <a href="{{ path('service') }}" class="{{ (app.request.attributes.get('_route') == 'service')  ? 'active': ''}}">Servicios</a>
    <a href="{{ path('app_cart') }}" class=" {{ (app.request.attributes.get('_route') == 'app_cart')  ? 'active': ''}}">carrito</a>
    {% if app.user %}
        <a href="{{ path('logout') }}" class=""> {{ app.user.name }} - Logout</a>
    {% else %}
        <a href="{{ path('login') }}"  class="{{ (app.request.attributes.get('_route') == 'login')  ? 'active': ''}}">Login</a>
        <a href="{{ path('register') }}"  class=" {{ (app.request.attributes.get('_route') == 'register')  ? 'active': ''}}">Registrarse</a>
    {% endif %}

    <a href="{{ path('contact') }}" class="">contact <i class="bi bi-arrow-right"></i></a>
</nav>
