{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<main>
<div class="signupFrm">
<div class="wrapper">
<form action="" class="form" id="formulario">
        <h1>Registrar</h1>

        {{ form_start(registrationForm, {'attr': {'class':'form'}}) }}
        <div class="inputContainer">
            {{ form_widget(registrationForm.email,  {'attr': {'class':'input', 'placeholder': 'a'}}) }}
            {{ form_label(registrationForm.email, null, {
                label_attr: {class: 'label'}
            }) }}
        </div>
        <div class="inputContainer">
            {{ form_widget(registrationForm.name,  {'attr': {'class':'input', 'placeholder': 'a'}}) }}
            {{ form_label(registrationForm.name, null, {
                label_attr: {class: 'label'}
            }) }}
        </div>
        <div class="inputContainer">
            {{ form_widget(registrationForm.Telephone,  {'attr': {'class':'input', 'placeholder': 'a'}}) }}
            {{ form_label(registrationForm.Telephone, null, {
                label_attr: {class: 'label'}
            }) }}
        </div>
   
        <div class="inputContainer">
            {{ form_widget(registrationForm.plainPassword,  {'attr': {'class':'input', 'placeholder': 'a'}}) }}
            {{ form_label(registrationForm.Telephone, null, {
                label_attr: {class: 'label'}
            }) }}
        </div>
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="submitBtn">Registar</button>
            <button type="reset" class="submitBtn">Borrar los Datos</button>

        {{ form_end(registrationForm) }}
</div>
</div>
</form>
{% endblock %}
