<div class="col-xs-12 col-sm-12">
    <div class="post">
    <div class="post-heading">
        <span>{{ post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</span>
        <img class="img-responsive" src="{{ asset('images/blog/' ~ post.video) }}" alt="{{post.title}}">
    </div>
    <div class="post-body">
        <h3><a href="{{ path('video-page', {'slug':post.slug}) }}"><strong>{{post.title}}</strong></a></h3>
        <hr>
    <p>{{post.content[:300] ~ '...' }}</p>
    </div>
    <div class="post-footer">
       <div class="col-xl-4 col-lg-5">
            <!-- Share box -->
            <div class="tm-bg-gray tm-share-box">
                <h6 class="tm-share-box-title mb-4">Share this video</h6>
                <div class="mb-5 d-flex">
                    <a href="" class="tm-bg-white tm-share-button"><i class="fab fa-facebook"></i></a>
                    <a href="" class="tm-bg-white tm-share-button"><i class="fab fa-twitter"></i></a>
                    <a href="" class="tm-bg-white tm-share-button"><i class="fab fa-pinterest"></i></a>
                    <a href="" class="tm-bg-white tm-share-button"><i class="far fa-envelope"></i></a>
                </div>
                <a href="{{path('post_like', {'slug' : post.slug})}}" class="tm-bg-white px-5 mb-4 d-inline-block tm-text-primary tm-likes-box tm-liked">
                    <i class="fas fa-heart mr-3 tm-liked-icon"></i>
                    <i class="far fa-heart mr-3 tm-not-liked-icon"></i>
                    <span id="tm-likes-count" {post.like}>486 likes</span>
                </a>
                <div>
                    <button class="btn btn-primary p-0 tm-btn-animate tm-btn-download tm-icon-download"><span>Download Video</span></button>	
                </div>								
            </div>
        </div>
    </div>

  